body {
  width: 400px;
  margin: auto;
  background-color: black;
  
}

.N {
  color: #ffffff;
}

.S {
  color: gold;
}

/* tracker */

.tracker {
  color:black;
}

.tracker:visited {
  color: gold;
}

.tree > * {
  padding: 8px;
}

.tree {
  display: grid;
  grid-template-areas:
    ". top ."
    "left fork right";
  justify-content: center;
}

.tree > *:nth-child(1) {
  grid-area: top;
  justify-self: center;
  position: relative;
  margin-top: -9px;
  border:0;
}

.tree > *:nth-child(2) {
  grid-area: fork;
  text-align: center;
  font-size: 30px;
  width: 30px;
  height: 30px;
  justify-self: center;
  margin-left: 0;
  margin-right: 0;
  box-shadow: 0 0;
  border: 0;
  padding: 0;
}
.tree > *:nth-child(3) {
  margin-top: 30px;
  grid-area: left;
  margin-left: auto;
  border-top: 1px solid white;
}
.tree > *:nth-child(4) {
  grid-area: right;
  margin-top: 30px;
  margin-right: auto;
  border-top: 1px solid white;
}